.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.board {
    width: 900px;
    background-color: #574534;
    border: 1px solid #35271963;
    border-radius: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    box-shadow: 7px 10px 5px 0px rgba(0, 0, 0, 0.75);
    transform: scale(0.7);
    transform: perspective(113em) rotateX(45deg) scale(0.8);
    margin-top: -10%;
}

.hero-zone {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 2px solid #ecf0f1;
}

.hero {
    width: 150px;
    height: 150px;
    background-color: #16a085;
    border-radius: 10px;
}

.hero-player {
    background-color: #1abc9c;
}

.hero-opponent {
    background-color: #e74c3c;
}

.play-area {
    flex: 1;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.hand-zone {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.hand {
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
}

.hand-player {
    justify-content: center;
    background-color: #00387d87;
    box-shadow: 7px 10px 5px 0px rgb(0 0 0 / 41%);
    border-radius: 10px;
}

.hand-enemy {
    justify-content: center;
    background-color: #6b000080;
    box-shadow: 7px 10px 5px 0px rgb(0 0 0 / 41%);
    border-radius: 10px;
}

.card {
    width: 100px;
    height: 150px;
    background-color: #2980b9;
    border-radius: 5px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
}

.battlefield {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: space-between;
    padding: 10px 0;
}

.line {
    /*background-color: #f39c12;*/
    margin-bottom: 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.enemy-card-size {
    width:142px;
    height:180px;
    transform: scale(0.5);
    transform-origin: top left;
    z-index: 1;
    transition: transform 0.4s ease;
}

.enemy-card-size:hover {
    transform: scale(0.9);
    z-index: 2;
}

.card-size {
    width:142px;
    height:180px;
    transform: scale(0.5);
    transform-origin: top left;
    z-index: 1;
    transition: transform 0.4s ease;
}

.card-size:hover {
    transform: scale(0.9);
    z-index: 2;
}

.card-battlefield-position {
    width:142px;
    height:180px;
    border-radius: 8%;
    margin: 3px;
    cursor: pointer;
    background-color: #9d8d8e;
}

.card-battlefield-position-enemy {
    border: 0.5px solid #f50202;
}

.card-battlefield-position-player {
    border: 0.5px solid #0065e2;
}

.card-battlefield-position-player-highlighted {
    border: 5px solid yellow;
}

.enemy-card {
    transform: rotate(180deg) scale(0.5);
    transform-origin: center;
    padding-right: 12px;
    position: relative;
    left: 32px;
    top: 42px;
}

.enemy-card-highlight {
    background-color: yellow;
    transform: rotate(180deg) scale(0.5);
    transform-origin: center;
    padding-right: 12px;
    position: relative;
    left: 32px;
    top: 42px;
}

.end-turn-button {
    justify-content: flex-end;
    display: flex;
}

.line-effect {
    /* background-color: #9b59b6; */
}

.line-creature {
    /* background-color: #3498db; */
}

.player-card {
    background-color: #fefefe;
    border: 1px solid #000;
    width: 220px;
    padding: 20px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.9);
    border-radius: 10px;
    text-align: center;
    position: absolute;
}

.left {
    left: 3%;
    top: 71%;
    background-color: #00387dc9;
    color: #fff
}

.right {
    right: 13%;
    top: 17%;
    background-color: #6b0000d6;
    color: #fff
}

.player-info {
    margin-top: 10px;
}

.player-name {
    font-size: 24px;
    margin: 0;
}

.player-life {
    margin-top: 20px;
    font-size: 18px;
}

.life-points {
    font-weight: bold;
    font-size: 24px;
    color: #00e85dad;
}

.slds-modal__container {
    width: 50%;
    max-width: 600px;
}

.slds-modal__header_winner {
    background-color: #4CAF50;
}

.slds-modal__header {
    color: white;
}

.slds-modal__header_loser {
    background-color: #5e0101;
}

.slds-modal__footer {
    text-align: center;
}

.slds-modal__content p {
    font-size: 18px;
    text-align: center;
}

.chat-container {
    width: 300px;
    height: 500px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0;
    top: 390px;
}

.messages {
    flex: 1;
    padding: 10px;
    overflow-y: auto; /* Permite rolar as mensagens */
    border-bottom: 1px solid #ddd;
}

.message {
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 5px;
    background-color: #e1e1e1;
}

.username {
    font-weight: bold;
    color: #333;
}