.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.board {
    width: 900px;
    background-color: #574534;
    border: 1px solid #35271963;
    border-radius: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    box-shadow: 7px 10px 5px 0px rgba(0, 0, 0, 0.75);
    transform: scale(0.7);
    transform: perspective(113em) rotateX(45deg) scale(0.7);
    margin-top: -10%;
}

.hero-zone {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 2px solid #ecf0f1;
}

.hero {
    width: 150px;
    height: 150px;
    background-color: #16a085;
    border-radius: 10px;
}

.hero-player {
    background-color: #1abc9c;
}

.hero-opponent {
    background-color: #e74c3c;
}

.play-area {
    flex: 1;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.hand-zone {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.hand {
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
}

.hand-player {
    justify-content: center;
    background-color: #00387d87;
    box-shadow: 7px 10px 5px 0px rgb(0 0 0 / 41%);
    border-radius: 10px;
}

.hand-enemy {
    justify-content: center;
    background-color: #6b000080;
    box-shadow: 7px 10px 5px 0px rgb(0 0 0 / 41%);
    border-radius: 10px;
}

.card {
    width: 100px;
    height: 150px;
    background-color: #2980b9;
    border-radius: 5px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
}

.battlefield {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: space-between;
    padding: 10px 0;
}

.line {
    /*background-color: #f39c12;*/
    margin-bottom: 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.enemy-card-size {
    width:142px;
    height:180px;
    transform: scale(0.5);
    transform-origin: top left;
    z-index: 1;
    transition: transform 0.4s ease;
}

.enemy-card-size:hover {
    transform: scale(0.9);
    z-index: 2;
}

.card-size {
    width:142px;
    height:180px;
    transform: scale(0.5);
    transform-origin: top left;
    z-index: 1;
    transition: transform 0.4s ease;
}

.card-size:hover {
    transform: scale(0.9);
    z-index: 2;
}

.card-battlefield-position {
    width:142px;
    height:180px;
    border-radius: 8%;
    margin: 3px;
    cursor: pointer;
    background-color: #9d8d8e;
}

.card-battlefield-position-enemy {
    border: 0.5px solid #f50202;
}

.card-battlefield-position-player {
    border: 0.5px solid #0065e2;
}

.enemy-card {
    transform: rotate(180deg) scale(0.5);
    transform-origin: center;
    padding-right: 12px;
    position: relative;
    left: 32px;
    top: 42px;
}

.end-turn-button {
    justify-content: flex-end;
    display: flex;
}

.line-effect {
    /* background-color: #9b59b6; */
}

.line-creature {
    /* background-color: #3498db; */
}
